.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 16px;
    flex-direction: column;
}

.box{
    margin: 0 auto;
    width:350px;
    height:460px;
    font-size:16px;
    padding:40px 40px;
    background-color: #0f044c;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 30px;
}

.user{
    margin-top: 50px;
}

.fas{
    position: absolute;
}

input{
    width:90%;
    margin-bottom:15px;
    padding:0 30px 5px;
    font-size:16px;
    border:none;
    border-bottom: 1px solid #141e75;
    outline:none;
    background-color: #0f044c;
    color: #fff;
}

input:focus{
    border-bottom: 1px solid #eeeeee;
}

.reset-password{
    color:#ff7f50;
    text-align:right;
    margin-top:0px;
    font-size:12px;
}

.login-btn{
    margin-top:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.btn-submit{
    display:block;
    width:80%;
    padding:10px;
    background-color: #eeeeee;
    color:#0f044c;
    border:none;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
    opacity:0.8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); 
}

.btn-submit:hover{
    opacity:1;
}

.signup span{
    color:#7fb8e6;
}

.signup span::hover{
    color:#3793df
}

a{
    text-decoration: none;
}